[GENERAL]
audit_log = [full path to an existing .txt file for logs]
api_key = [polygonscan api key]

[TOKEN COUNTS]
MAX_TOKENS_REQUESTED = 0.02
MAX_MUMBAI_TOKENS_REQUESTED = 5

[FAUCET]
address = 0x
private_key = [can find in Metamask]

[RPC]
mainnet = https://polygon-rpc.com
testnet = https://rpc-mumbai.maticvigil.com

[DISCORD]
token =
member_roles = ["member", "admin", "etc", ]
developer_roles = ["Developer", "etc", ]
admin_roles = ["admin", ]
error_channel = [right-click channel -> copy ID]

[DATABASE]
db_check = True/False [If True, database info required. If False, no DB needed]
user = [usually admin]
password =
host =
name =


